/* Reset */

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: capitalize;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
  max-width: 100%;
  font-family: Roboto;
}

/* Reset */

:root {
  --cortema1: #0f0f0f;
  --cortema2: #272727;
  --tamanhocontainer: 83%;
  --coricones: white;
}

.fixo {
  position: fixed;
  overflow-y: auto;
}

body {
  background-color: var(--cortema1);
}

section {
  display: flex;
}

/* cabeçalho */

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5% 2%;
  background: inherit;
}

header > div {
  display: flex;
  align-items: center;
  height: 45px;
}
header a i{
  margin: 0 10px;
}

.esquerda {
  justify-content: flex-start;
  width: 30%;
}
.esquerda .yt {
  margin: 0 5px 0 20px;
  font-size: 26px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meio {
  justify-content: center;
  width: 45%;
  align-items: center;
  border-radius: 50px;
  background-color: var(--cortema2);
}

.meio svg {
  margin: 0 10px;
}

.pesquisa-voz {
  border-radius: 40%;
  margin: 0 10px;
}

.direita {
  justify-content: flex-end;
  width: 25%;
  gap: 15px;
}

.direita i {
  margin: 0 10px;
}

input[type="text"] {
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: var(--cortema1);
  border: 2px solid var(--cortema2);
}

/* Barra do menu lateral */

.barralateral {
  text-align: left;
  margin-top: 50px;
  width: calc(100% - var(--tamanhocontainer));
  flex-direction: column;
  height: 100vh;
}

.barralateral > div {
  flex-direction: column;
  border-bottom: 1px solid var(--cortema2);
  padding: 15px;
  margin: 5px 0;
  font-size: 15px;
}

/* Canal */

.barralateral > .inscricoes > a div{
  background-image: url(/src/icone2.png);
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: var(--coricones);
}

/* container do meio (tags e videos) */

.containervideos {
  width: var(--tamanhocontainer);
  flex-direction: column;
  margin: 60px 0 0;
  margin-left: calc(100% - var(--tamanhocontainer));
  padding: 0 2%;
}

/* Tags */

ul {
  overflow-x: auto;
  height: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
}

li a{
  background-color: var(--cortema2);
  padding: 5px 10px;
  white-space: nowrap;
}

li a:hover{
  background-color: var(--coricones);
  color: var(--cortema2);
  opacity: 0.8;
}

/* Videos */

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.videoinfos{
  justify-items: center;
  width: 330px;
  border-radius: 10px;
  padding: 0.5%;
  transition: 0.3s;
}

.thumb {
  border-radius: inherit;
  width: 100%;
  height: 200px;
  background-image: url(https://placehold.co/330x200/png);
  background-size: contain;
}

.videoinfos .infos {
  padding: 1.5% 2%;
  justify-self: left;
}

/* Padrão de cores para as letras e icones */

i,p,h3,a,h4,input[type="text"] {
  color: var(--coricones);
}

/* Configuração dos icones. Tamanho e posição */

i {
  font-size: 21px;
  transition: 0.3s;
}

svg {
  width: 26px;
  margin: 0 15px;
}

.barralateral > div i {
  font-size: 20px;
  margin: 0 18px;
}

a {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 8px 1px;
  transition: 0.3s;
}

/* Hover */

a:hover, .videoinfos:hover {
  background-color: var(--cortema2);
}

/* Footer */

footer{
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cortema2);
  letter-spacing: 1px;
}

footer i{
  padding:5px;
  border-radius: 50%;
}

footer i:hover{
  background-color: var(--coricones);
  color: var(--cortema1);
}